{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{%block title %}
Sign Up
{%endblock%}

{% block navbar %}
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="background-color: #e3f2fd;" href="{{ url_for('login') }}">ObjectStore</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a style="color: white;" href="{{ url_for('login') }}">Home</a></li>
		    <!--<li><a style="color: white;" href="{{ url_for('login') }}">Explore</a></li>-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a style="color: white;"  href="{{ url_for('login') }}">Login</a></li>
                    <li><a style="color: white;"  href="{{ url_for('register') }}">SignUp</a></li>
                    <li><a style="color: white;"  href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
	<form class="form-signUp", method="POST", action="/register">
   	<h2 class="form-signUp-heading">Sign Up</h2>
	<dl>
		{{form.hidden_tag()}}
		{{wtf.form_field(form.firstname)}}
		{{wtf.form_field(form.lastname)}}
		{{wtf.form_field(form.email)}}
		{{wtf.form_field(form.password)}}
		{{wtf.form_field(form.password2)}}
		<button class="btn btn-lg btn-primary btn-block" type="submit">SignUp</button>
	</dl>
	</form>
</div>
{% endblock %}
